

body {
    font-family: $font-main;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1400px;
    position: relative;
}

.page {
    display:none;

    &.active {
        display: block;
    }
}

.pages-container {
    width: 100%;
}

footer {
    text-align: center;

    .footer {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 25px;
        color: $color-description;
        font-weight: $font-semibold;
    }
}