$color-main: #BEA67C;
$color-white: #fff;
$color-black: #000;
$color-description: #464646;

$font-main: 'Source Sans 3', sans-serif;

$font-black: 900;
$font-semibold: 600;
$font-bold: 700;
$font-regular: 400;

$base-size: 12px;