.about-container {
    background: linear-gradient(rgba(0, 0, 0, 0.690),rgba(0, 0, 0, 0.690)),
                url("/images/about-us.jpg");
    background-size: cover;
    width:auto;
    height: 1000px;
    position:relative;
}


.about-us {
    margin: 10px auto;
    padding: 6px 0 0 30px;
    width: 800px;
    position: relative;
    p {
        width: 971px;
        height: 130px;
        font-size: 40px;
        letter-spacing: 1px;
        color: $color-white;
        font-weight: $font-semibold;
        font-style: italic;
    }
}

.join-us {
    width: 971px;
    height: 130px;
    font-size: 40px;
    letter-spacing: 1px;
    color: $color-white;
    font-weight: $font-semibold;
    font-style: italic;
    text-align:right;
}